{% extends 'base.html' %}
{% load static %}

{% block title %}作品詳細{% endblock %}

{% block contents %}
<!-- Page content-->
<div class="my-div-style ">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ object.title }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ object.createdat }}</div>
                        <!-- Post categories-->
                        {% for tag in object.tags %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ tag }}</a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ object.img1.url }}" class="d-block w-100 h-75" alt="...">
                            </div>
                            {% if object.img2 %}
                            <div class="carousel-item">
                                <img src="{{ object.img2.url }}" class="d-block w-100 h-75" alt="...">
                            </div>
                            {% endif %}
                            {% if object.img3 %}
                            <div class="carousel-item">
                                <img src="{{ object.img3.url }}" class="d-block w-100 h-75" alt="...">
                            </div>
                            {% endif %}
                            {% if object.img4 %}
                            <div class="carousel-item">
                                <img src="{{ object.img4.url }}" class="d-block w-100 h-75" alt="...">
                            </div>
                            {% endif %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ object.content|linebreaksbr }}</p>
                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">リンク</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% if object.code_url %}
                                    <li><a href="{{ object.code_url }}">code</a></li>
                                    {% endif %}
                                    {% if object.url %}
                                    <li><a href="{{ object.url }}">URL</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">使用技術</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for tag in object.tags %}
                                    <li><a href="#!">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
